doctype html
html
  head
      
    title ServiBus Website
    
    
    //-script(type="text/javascript" src="javascripts/materialize.js")
    
    //-script(type="text/javascript" src="../../javascripts/picker.js" )
    //-script(type="text/javascript" src="../../javascripts/picker.date.js")
    script(src="/../javascripts/index_recepcionista.js")
    script(src="/../javascripts/common.js")
    //- stylessheets de terceros
    link(rel="stylesheet" type="text/css" href="/../stylesheets/common.css")
    link(rel="stylesheet" type="text/css" href="stylesheets/style.css")
    link(rel="stylesheet" type="text/css" href="stylesheets/materialize.css")
    link(rel="stylesheet" type="text/css" href="fonts/iconfont/material-icons.css")
    link(href="/../images/fav.ico/favicon.ico" rel="icon" type="image/ico")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    
  body
    header 
      .container
        #branding
          img(src="images/mapa.png")
        nav(class="white z-depth-0") 
          ul(id="nav-mobile" class="right hide-on-med-and-down")
            li.current
              a(href="/") Inicio
            li.current
              a(href="/cotizacion") Cotizaciones
            li.current
              a(href="/login") Iniciar Sesion
        h4 ServiBus Servicios Turisticos Terrestres
    br
    div(class="row padding-top padding-bottom")
      div(class="z-depth-4 col s6 push-s3")
        h5(class="center-align") Registra Cotizacion
        
    div(class="container")
      != messages('message', locals)
      br
      div(class="row padding-top padding-bottom")
        div(class="z-depth-3 col s12 m10 l10 offset-l1")
          div(class="row")
            form(class="col s10 push-s1" method="post" action="/registrar_cotiCliente" style="")
              div(class="row")
                input(name="id" id="id" type="text" style="visibility: hidden")
                div(class="input-field col s12 m12 l1 offset-l4 ")
                  a(class="btn-floating pulse btn-tiny waves-effect waves-light green btn modal-trigger btn tooltipped" data-position="bottom" data-tooltip="Presiona aqui si ya te has registrado antes.." data-target="seleccionar_email")
                    i(class="material-icons" ) search
                div(class="input-field col s12 m12 l4 ")
                  input(name="email" id="email" class="validate" type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required readonly placeholder="Correo electronico...")
                  label(for="email") Email
              div(id="datos_persona")
                div(class="row")
                  div(class="input-field col s12")
                    input(id="nombre" name="nombre" type="text" class="validate color-text-blue" pattern="^([A-Za-zÁÉÍÓÚ]{1}[A-Za-zñáéíóú]+[\\s]*)+$" minlength="3" maxlength="20")
                    label(for="nombre" style="color:blue") Nombre
                div(class="row")
                  div(class="input-field col s6")
                    input(type="text" class="validate" id="ap_paterno" name="ap_paterno" pattern="^([A-Za-zÁÉÍÓÚ]{1}[A-Za-zñáéíóú]+[\\s]*)+$" minlength="3" maxlength="20" )
                    label(for="ap_paterno" style="color:blue") Apellido paterno
                  div(class="input-field col s6")
                    input(id="ap_materno" name="ap_materno" type="text" class="validate" pattern="^([A-Za-zÁÉÍÓÚ]{1}[A-Za-zñáéíóú]+[\\s]*)+$" minlength="3" maxlength="20" )
                    label(for="ap_materno" style="color:blue") Apellido materno
                div(class="row")
                  div(class="input-field col s6 ")
                    input(name="telefono" id="telefono" type="text" class="validate" pattern="\\d{7,18}" minlength="7" maxlength="15" )
                    label(for="telefono" style="color:blue") Telefono
                  div(class="input-field col s6")
                    input(id="correo" name="correo" type="text" class="validate" pattern="[a-z0-9._%+-]+@[a-z0-9.-]{5,10}\.[a-z]{2,3}$" maxlength="30" )
                    label(for="correo" style="color:blue") Correo Electronico
                div(class="row")
                  div(class="input-field col s3")
                    input(id="calle" name="calle" type="text" class="validate" minlength="3" maxlength="20" pattern="^([\\w]+[\\s]*)+$" )
                    label(for="calle" style="color:blue") Calle
                  div(class="input-field col s3")
                    input(id="num_interior" name="num_interior" type="text" class="validate" maxlength="5" pattern="^([S][\\/][N]|[1-9][0-9]{0,4})$" )
                    label(for="num_interior" style="color:blue") Numero Interior
                  div(class="input-field col s3")
                    input(id="colonia" name="colonia" type="text" class="validate" minlength="4" maxlength="20" pattern="^([\\w]+[\\.]?[\\s]*)+$" )
                    label(for="colonia" style="color:blue") Colonia
                  div(class="input-field col s3")
                    input(id="codigo_postal" name="codigo_postal" type="text" class="validate" pattern="[1-9][0-9]{4}" maxlength="5" )
                    label(for="codigo_postal" style="color:blue") Codigo Postal
              hr( style="background: #31B404; height:3px")
              div(class="row")
                div(class="input-field col s6")
                  input(class="validate" type="text" id="ciudad_origen" name="ciudad_origen" pattern="^([A-Za-zÁÉÍÓÚ]{1}[A-Za-zñáéíóú]+[\\s]*)+$" minlength="5" maxlength="20" required)
                  label(for="ciudad_origen" style="color:blue;") Ciudad de origen
                div(class="input-field col s6")
                  input(class="validate" type="text" id="lugar_origen" name="lugar_origen" pattern="^([A-Za-zÁÉÍÓÚ]{1}[A-Za-zñáéíóú]+[\\s]*)+$" minlength="5" maxlength="20" required)
                  label(for="lugar_origen" style="color:blue") Lugar de salida
              div(class="row")
                div(class="input-field col s6")
                  input(class="validate" type="text" id="ciudad_destino" name="ciudad_destino" pattern="^([A-Za-zÁÉÍÓÚ]{1}[A-Za-zñáéíóú]+[\\s]*)+$" minlength="5" maxlength="20" required)
                  label(for="ciudad_destino" style="color:blue") Ciudad de destino
                div(class="input-field col s6")
                  input(class="validate" type="text" id="lugar_destino" name="lugar_destino" pattern="^([A-Za-zÁÉÍÓÚ]{1}[A-Za-zñáéíóú]+[\\s]*)+$" minlength="5" maxlength="20" required)
                  label(for="lugar_destino" style="color:blue") Lugar de destino
              div(class="row")
                div(class="input-field col s3")
                  i(class="material-icons prefix") date_range
                  input(class="validate" type="text" class="datepicker" id="fecha_salida" name="fecha_salida" required)
                  label(for="fecha_salida" style="color:blue") Fecha salida
                div(class="input-field col s3")
                  i(class="material-icons prefix") access_time
                  input(class="validate" type="text" class="timepicker" id="hora_salida" name="hora_salida" required)
                  label(for="hora_salida" style="color:blue") Hora salida
                div(class="input-field col s3")
                  i(class="material-icons prefix") date_range
                  input(class="validate" type="text" class="datepicker" id="fecha_regreso" name="fecha_regreso" required)
                  label(for="fecha_regreso" style="color:blue; font-size:14px") Fecha regreso
                div(class="input-field col s3")
                  i(class="material-icons prefix ") access_time
                  input(class="validate" type="text" class="timepicker" id="hora_regreso" name="hora_regreso" required)
                  label(for="hora_regreso" style="color:blue") Hora regreso
              div(class="row")
                div(class="input-field col s12")
                  select(class="validate" seect="icons" name="tipo" required)
                    option(value="1" data-icon="images/camioneta.jpg" class="left") 20 plazas
                    option(value="2" data-icon="images/media.jpg" class="left") 45/47 plazas
                    option(value="3" data-icon="images/primera.jpg" class="left") 47 plazas Lujo
                  label(for="tipo" style="color:blue") Tipo de unidad
              div(class="row")
                 div(class="input-field col s12")
                   input(class="validate" type="text" id="itinerario" name="itinerario" data-length="150" maxlength="150" minlength="5" required)
                   label(for="itinerario" style="color:blue") Itinerario
              div(class="row")
                div(class="col s12")
                  button(class="btn waves-effect waves-light col s6 push-s3 pull-s3" type="submit" name="cotizar") Enviar
                    i(class="material-icons right") send
    
    div(id="seleccionar_email" class="modal modal-fixed-footer")
      div(class="modal-content")
        h4 Buscar correo electronico
        form(onsubmit="return getcorreo(this);")
          div(class="input-field z-depth-3")
            input(id="search" name="correo_persona" style="text-align:center" type="search" class="validate" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required placeholder="Ingresa tu correo electronico con el que te registraste por primera vez..")
            label(class="label-icon" for="search")
              i(class="material-icons left") search
            i(class="material-icons") close
                        
        ul(class="collapsible" data-collapsible="accordion" id="persona_correo")
      div(class="modal-footer")
        a(class="modal-close waves-effect waves-green btn-flat" data-dismiss="modal") Cerrar
                                        
    script(type="text/javascript" src="javascripts/jquery-3.1.1.js")
    script(type="text/javascript" src="javascripts/materialize.js")
    script.
           var fecha = new Date();
           $(function(){
             $("#fecha_salida").datepicker({
               minDate: fecha,
               autoClose: true,
               onSelect: function(selectDate){
                 $("#fecha_regreso").datepicker({
                   minDate: selectDate
                 });
               }
             });
           });
           $(document).ready(function(){
             $('.timepicker').timepicker();
           });
           $(document).ready(function() {
             $('input#itinerario').characterCounter();
           });
           $(document).ready(function(){
             $('select').formSelect();
           });
           $(document).ready(function(){
             $('.modal').modal();
           });
           $(document).ready(function(){
            $('.tooltipped').tooltip();
           });
           
                                          
    footer
      p ServiBus Website, Copyright &copy; 2018
