doctype html
html
  head
    title ServiBus Website
    
    script(src="javascripts/jquery-3.1.1.js")
    script(type="text/javascript" src="javascripts/materialize.js")
    script(type="text/javascript" src="javascripts/moments.js")
    
    link(rel="stylesheet" type="text/css" href="stylesheets/style.css")
    link(rel="stylesheet" type="text/css" href="stylesheets/materialize.css")
    link(rel="stylesheet" type="text/css" href="fonts/iconfont/material-icons.css")
    link(href="/../images/fav.ico/favicon.ico" rel="icon" type="image/ico")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    
  body
        ul(id="dropdown1" class="dropdown-content grey lighten-3")
          li()
            a(href="/nuevo_empleado" class="green-text" style="font-weight:bold") Nuevo empleado
          li
            a(href="/ver_empleados" class="green-text" style="font-weight:bold") Ver empleados
            
        ul(id="dropdown2" class="dropdown-content grey lighten-3")
          li
            a(href="registrar_unidad" class="green-text" style="font-weight:bold") Nueva unidad
          li
            a(href="/ver_unidades" class="green-text" style="font-weight:bold") Ver Unidades
        
        div(class="z-depth-3 col s12 m10 l10 offset-l1 ")
          div
            div(class="row grey lighten-3")
              div(class="col s1 push-s1 ")
                ul(id="slide-out" class="sidenav light-blue darken-4")
                  li
                    div(class="user-view")
                      div(class="background green")
                        img(src="")
                      a(href="#user")
                        img(class="circle" src="images/bground.png")
                      a(href="#name")
                        span(class="white-text name" style="font-size:20px") #{user_nombre}
                        a(href="/logout/")
                          span(style="color: #ed1b24; font-weight:bold") Cerrar sesion
                  li
                    a(class="white-text" href="/index") Usuarios del sistema
                  li
                    a(class="dropdown-trigger white-text" href="#!" data-target="dropdown1") Empleados
                      i(class="material-icons right") arrow_drop_down
                  li
                    a(href="#!" class="dropdown-trigger white-text" data-target="dropdown2") Unidades
                      i(class="material-icons right") arrow_drop_down
                a(href="#" data-target="slide-out" class="sidenav-trigger")
                  i(class="material-icons #01579b" style="font-size: 40px; padding-top:30px" ) menu    
              div(class="col s7 push-s2")
                  img(src="images/mapa.png" width="120" height="70" style="padding-top: 10px")
                  h4(class="right green-text darken-4" style="padding-bottom:10px; padding-left:20px") ServiBus Servicios Turisticos Terrestres 
        
        div(class="container")
          br
          div(class="row padding-top padding-bottom")
            div(class="z-depth-0 col s12 m10 l10 offset-l1")
              h4.center.bold Registrar nuevo empleado
              label(for="aDate" id="aDate" style="font-size: 20px; color: blue; text-bold; font-weight:bold" class="form-control col s4 push-s8")
              div(class="row")
                form(class="col s10 push-s1" method="post" action="/agregar_empleado" )
                  div(class="row")
                    div(class="input-field col s12")
                      input(id="nombre" name="nombre" type="text" class="validate color-text-blue" class="validate" pattern="^([A-Za-zÁÉÍÓÚ]{1}[A-Za-zñáéíóú]+[\\s]*)+$" maxlenght="40" required)
                      label(for="nombre" style="color:blue") Nombre
                  div(class="row")
                    div(class="input-field col s6")
                      input(type="text" class="validate" id="ap_paterno" name="ap_paterno" pattern="^([A-Za-zÁÉÍÓÚ]{1}[A-Za-zñáéíóú]+[\\s]*)+$" maxlenght="40" required)
                      label(for="ap_paterno" style="color:blue") Apellido paterno
                    div(class="input-field col s6")
                      input(id="ap_materno" name="ap_materno" type="text" class="validate" pattern="^([A-Za-zÁÉÍÓÚ]{1}[A-Za-zñáéíóú]+[\\s]*)+$" maxlenght="40" required )
                      label(for="ap_materno" style="color:blue") Apellido materno
                  div(class="row")
                    div(class="input-field col s6")
                      input(name="telefono" id="telefono" type="text" class="validate" pattern="\\d{7,18}" required)
                      label(for="telefono" style="color:blue") Telefono
                    div(class="input-field col s6")
                      input(name="correo" id="correo" type="text" class="validate" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required)
                      label(for="correo" style="color:blue") Correo electronico
                    div(class="row")
                      div(class="input-field col s3")
                        input(id="calle" name="calle" type="text" class="validate" minlength="3" maxlength="30" pattern="^([\\w]+[\\s]*)+$" required)
                        label(for="calle" style="color:blue") Calle
                      div(class="input-field col s3")
                        input(id="num_interior" name="num_interior" type="text" class="validate" minlength="1" maxlength="20" pattern="^([\\w]+[\\/]?[\\.]?[\\s]*)+$" required)
                        label(for="num_interior" style="color:blue") Numero Interior
                      div(class="input-field col s3")
                        input(id="colonia" name="colonia" type="text" class="validate" minlength="4" maxlength="30" pattern="^([\\w]+[\\.]?[\\s]*)+$" required)
                        label(for="colonia" style="color:blue") Colonia
                      div(class="input-field col s3")
                        input(id="codigo_postal" name="codigo_postal" type="text" class="validate" pattern="[1-9][0-9]{4}" maxlenght="5" required)
                        label(for="codigo_postal" style="color:blue") Codigo Postal
                    div(class="row")
                      div(class="input-field col s3")
                        select(class="validate" name="sexo" required)
                          option(value="F") Mujer
                          option(value="M") Hombre
                        label(for="sexo" style="color:blue") Sexo
                      div(class="input-field col s3")
                        select(class="validate" name="estado_civil" required)
                          option(value="soltero") Soltero
                          option(value="casado") Casado
                          option(value="divorciado") Divorciado
                          option(value="viudo") Viudo
                        label(for="estado_civil" style="color:blue") Estado civil
                      div(class="input-field col s3")
                        i(class="material-icons prefix") date_range
                        input(type="text" class="datepicker" format="yyyy-mm-dd" id="fecha_naci" name="fecha_naci" class="validate" required)
                        label(for="fecha_naci" style="color:blue; font-size: 12px") Fecha de nacimiento
                      div(class="input-field col s3 " id="puesto" name="puesto")
                        select(name="roles" id="roles" class="dropdown" onchange="java_script_:show(this.options[this.selectedIndex].value)" class="validate" required)
                          each gerente in data.roles
                            option(value=gerente.nombre)=gerente.nombre
                        label(for="roles" style="color:blue") Puesto
                    
                    div(class="row" id="hiddenDiv" style="display:none")
                      div(class="input-field col s6")
                        input(type="text" class="validate" id="tipo_pay" name="tipo_pay" value="Comision" readonly )
                        label(for="tipo_pay" style="color:blue") Tipo de pago
                      div(class="input-field col s6")
                        input(id="num_licencia" name="num_licencia" type="text" class="validate" pattern="[A-Z]{3}[0-9]{2,9}" maxlenght="30")
                        label(for="num_licencia" style="color:blue") Numero de licencia
                      div(class="input-field col s6")
                        input(type="text" class="validate" id="tipo_lic" name="tipo_lic")
                        label(for="tipo_lic" style="color:blue") Tipo de licencia
                      div(class="input-field col s6")
                        i(class="material-icons prefix") date_range
                        input(type="text" class="datepicker validate" format="yyyy-mm-dd" id="vigencia" name="vigencia" class="validate" )
                        label(for="vigencia" style="color:blue; font-size: 12px") Vigencia de licencia  
                      
                  div(class="row")
                    div(class="col s12")
                      button(class="btn waves-effect waves-light col s3 push-s9" type="submit" name="registrar") Registrar
                        i(class="material-icons right") send  
  
    
    
        script.
              (function($){
                $(function(){
                $('.sidenav').sidenav();
                $(".dropdown-trigger").dropdown();
                });
              })(jQuery);
              $(document).ready(function(){
                $('select').formSelect();
              });
              $(document).ready(function(){
                $('.datepicker').datepicker({
                  minDate: new Date('1900/10/25')
                });
              });
              $(document).ready(function() {
                var now = moment();
                $("#aDate").text(now.format("lll"));
              });
              function show(valu){
                   if(valu =="Operador"){
                   hiddenDiv.style.display='inline-block';
                   //-Form.fileURL.focus();
                   }else{
                   hiddenDiv.style.display='none';
                   }
              }
              
              
